.cont {
  text-align: center;
  position: absolute;
  width: 35%;
  margin: 9% 0 0 32%;
  background-color: rgb(185, 181, 191);
  padding: 30px;
  border-radius: 1rem;
  box-shadow: 0 6px 9px rgba(18, 3, 3, 0.142), 0 9px 12px rgba(38, 34, 34, 0.19);
}

.mylist {
  list-style-type: none;
}

.cont h4 {
  font-size: 30px;
}

li {
  font-size: 22px;
  margin-right: 10%;
}

.links {
  display: flex;
  width: 80%;
  height: 80px;
  overflow-wrap: break-word;
  margin-left: 10%;
}

@media screen and (max-width: 1200px) {
  .cont {
    width: 44%;
  }
}

@media screen and (max-width: 800px) {
  .cont {
    width: 60%;
    padding: 10px;
  }

  .links {
    display: flex;
    width: 150px;
    height: 100px;
    margin-bottom: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 30%;
  }
  .outerdiv {
    margin-left: 10%;
  }
}

@media screen and (max-width: 600px) {
  .links {
    margin-left: 15%;
  }
}
