.loading {
  display: flex;
  margin: 10% 45%;
  width: 8%;
  height: 10%;
  background-color: rgb(230, 234, 234);
  border-radius: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
