.notify {
  position: absolute;
  width: fit-content;
  text-align: center;
  margin: 4%;
  color: rgba(244, 234, 234, 0.954);
  background-color: rgba(131, 138, 36, 0.888);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  visibility: visible;
  right: 3.2%;
  top: 2.2%;
  padding: 10px;
  border-radius: 4px;
}
